@* 로그인/회원가입 탭 전환 *@

<div class="@Css.Tabs.Container">
    <a href="/auth/login"
       class="@Css.Tabs.Tab(IsLoginActive)">
        로그인
    </a>
    <a href="/auth/register"
       class="@Css.Tabs.Tab(!IsLoginActive)">
        회원가입
    </a>
</div>

@code {
    [Parameter] public bool IsLoginActive { get; set; }
}
