@* 온보딩 단계 표시 *@

<div class="@Css.Steps.Container">
    @for (int i = 1; i <= TotalSteps; i++)
    {
        var step = i;
        <div class="@Css.Steps.Dot(step, CurrentStep)"></div>
    }
</div>

@code {
    [Parameter] public int CurrentStep { get; set; } = 2;
    [Parameter] public int TotalSteps { get; set; } = 3;
}
